body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2 {
    color: blueviolet;
    text-align: center;
}

div {
  
    text-align: center;
    
}
input {
    margin: 5px;
    box-sizing: border-box;
    padding: 15px 16px;
    color: black;
    border: 5px solid rgba(67, 21, 21, 0.05);
    border-radius: 10px;
    background: rgba(220, 179, 179, 0.05);
    height: 56px;
    font-size: 16px;
    line-height: 21px;
    outline: none;
    box-shadow: none;

}

.button {
        margin: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .2s;
        text-align: center;
        border-radius: 10px;
        background: #6c38cc;
        color:white;
        border: none;
        padding: 10px;
}
.button:hover {
    background-color: #844fe6;
}